.main-chat
  .main-chat__header
    .main-chat__header__box
      .main-chat__header__box__name
        ユーザーネームです。
      .main-chat__header__box__member
        Member：メンバーA、メンバーB、メンバーC
    .main-chat__header__edit
      = link_to "Edit","#", class: "main-chat__header__edit__btn"
  .main-chat__contents
    .main-chat__contents__list
      .main-chat__contents__list__box
        .main-chat__contents__list__box__name
          投稿した人の名前
        .main-chat__contents__list__box__date
          2020/03/13(Fri) 20:48:15
      .main-chat__contents__list__message
        こんにちは！！！！！
    .main-chat__contents__list
      .main-chat__contents__list__box
        .main-chat__contents__list__box__name
          投稿した人の名前
        .main-chat__contents__list__box__date
          2020/03/13(Fri) 20:48:15
      .main-chat__contents__list__message
        こんにちは！！！！！
    .main-chat__contents__list
      .main-chat__contents__list__box
        .main-chat__contents__list__box__name
          投稿した人の名前
        .main-chat__contents__list__box__date
          2020/03/13(Fri) 20:48:15
      .main-chat__contents__list__message
        こんにちは！！！！！
    .main-chat__contents__list
      .main-chat__contents__list__box
        .main-chat__contents__list__box__name
          投稿した人の名前
        .main-chat__contents__list__box__date
          2020/03/13(Fri) 20:48:15
      .main-chat__contents__list__message
        こんにちは！！！！！
    .main-chat__contents__list
      .main-chat__contents__list__box
        .main-chat__contents__list__box__name
          投稿した人の名前
        .main-chat__contents__list__box__date
          2020/03/13(Fri) 20:48:15
      .main-chat__contents__list__message
        こんにちは！！！！！
  .main-chat__form
    .main-chat__form__contents
      .main-chat__form__contents__box
        %input{type: "text", placeholder: "type a message"}
        %label{class:"main-chat__form__contents__box__picture"}
          = icon('fas', 'image',  class: "main-chat__form__contents__box__picture__btn")
          %input{type: "file"}
      .main-chat__form__contents__send
        = link_to "Send","#", class: "main-chat__form__contents__send__btn"



