* {
  box-sizing: border-box;
}

.side-bar {
  float: left;
  width: 300px;
  &__header{
    color: white;
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    &__box{
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      width: 100%;
      &__name{
        font-size: 16px;
      }
      &__menu{
        color:#fff;
        text-decoration: none;
        width: 60px;
        display: flex;
        justify-content: flex-end;
        &__btn{
          color:#fff;
          text-decoration: none;
          margin-left: 5px;
        }
      }
    }
  }
  &__group{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    color: white;
    &__list{
      &__box{
        padding: 20px;
        &__name{
          font-size: 15px;
          padding-bottom: 5px;
        }
        &__message{
          font-size: 11px;
        }
      }
    }
  }
}

.main-chat{
  float: right;
  width: calc(100vw - 300px);
  &__header{
    background-color: #fff;
    height: 100px;
    padding: 0 40px;
    &__box{
      display: inline-block;
      margin-top: 35px;
      &__name{
        margin-bottom: 15px;
        font-size: 20px;
        color: #333333;
      }
      &__member{
        font-size: 12px;
        color: #999999;
      }
    }
    &__edit{
      float: right;
      margin-top: 40px;
      font-size: 16px;
      &__btn{
        text-decoration: none;
        padding: 10px 20px;
        border: solid 1px #38aef0;
        color: #38aef0;
      }
    }
  }
  &__contents{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 35px 40px 0;
    &__list{
      padding-bottom: 46px;
      &__box{
        display: flex;
        padding-bottom: 10px;
        &__name{
          color: #333333;
          font-size: 16px;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 20px;
        }
      }
      &__message{
        color: #434A54;
        font-size: 14px;
      }
    }
  }
  &__form{
    padding: 0px 40px;
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    &__contents{
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: solid 1px #ffffff;
        background-color: #ffffff;
        input {
          width:100%;
          outline: none;
          border: none;
          padding-left: 10px;
        }
        &__message{

        }
        &__picture{
          cursor : pointer;
          display: flex;
          align-items: center;
          &__btn{
            padding: 0 15px;
            color: #000000;
          }
          input {
            display: none;
          }
        }
      }
      &__send{
        padding-left: 15px;
        display: flex;
        align-items: center;
        &__btn{
          text-decoration: none;
          padding: 15px 30px;
          border: solid 1px #38aef0;
          background-color: #38aef0;
          color: #ffffff;
        }
      }
    }
  }
}